
<div class="position-relative m-5">
  <div class="position-absolute start-50 translate-middle">
    <br>
    <h2>
    <%= I18n.l(Date.today, format: '%a, %d de %b de %Y') %> , Time: 
    <%= Time.now.strftime("%H:%M") %>
    </h2>
  </div>
  <br><br>
</div>